.marO {
  background-color: #ff9300;
  font-family: "SukhumvitSet-Text";
  min-height: 100vh;
}
.marB {
  background-color: #404040;
  font-family: "SukhumvitSet-Text";
  min-height: 100vh;
}

.marL {
  background-color: #ff9300;
  font-family: "SukhumvitSet-Text";
  min-height: 100vh;
}

.marSpTop {
  margin-top: 10%;
}

.marSpTop2 {
  margin-top: 3%;
}

.marSpTop3 {
  margin-top: 5%;
  margin-left: 5%;
}
.marSpTop4 {
  margin-top: 1%;
}

.marSpLeftBar {
  margin-left: -90%;
}
.marSpRightBar {
  margin-left: 10%;
}
.marSpRight {
  margin-left: 2%;
}
.marSpRight2 {
  margin-left: 20%;
}
.marSpRight3 {
  margin-left: 5%;
}

.marSpRight4 {
  margin-left: 8%;
}
.marginleftSlideCo {
  margin-left: 8%;
}
.mrleft{
  margin-left: 13px;
}
.mapMargin{
  margin-left: 30px;
}


.headtext {
  font-size: 92px;
  color: #ffffff;
  font-weight: bold;
}

.text {
  font-size: 42px;
  color: #ffffff;
}

.text2 {
  font-size: 27px;
  color: #ffffff;
}
.text3 {
  font-size: 36px;
  color: #ff9300;
  text-align: center;
  font-weight: bold;
}
.text4 {
  font-size: 17px;
  color: #ff9300;
  text-align: center;
}

.text5 {
  font-size: 24px;
  color: #f8f8f8;
}
.textHeadWotk{
  font-size: 42px;
  color: #f8f8f8;
}
.text5dot1 {
  font-size: 18px;
  color: #f8f8f8;
}
.tab {
  display: inline-block;
  margin-left: 40px;
}
.text5b {
  font-size: 28px;
  color: #f8f8f8;
  font-weight: bold;
}
.text5bH {
  font-size: 63px;
  color: #f8f8f8;
  font-weight: bold;
}
.text6 {
  font-size: 42px;
  color: #000000;
  font-weight: bold;
}
.text6w {
  font-size: 42px;
  color: #f8f8f8;
  font-weight: bold;
}
.textBack {
  font-size: 24px;
  color: #f8f8f8;
  margin-left: -20px;
}
.textTitle{
  font-size: 21px;
  color: #404040;
  font-weight: bold;
}
.textType{
  font-size: 18px;
  color: #404040;
  margin-top: -20px;
}
.textDetail{
  font-size: 18px;
  color: #404040;
  margin-left: 2%;
}

.bgBt {
  background: #ff990f;
  margin: 0 0.6em;
  font-size: 21px;
  padding: 6px;
  display: inline-block;
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  width: 130px;
  height: 45px;
  align-items: center;
  text-align: center;
  transition:0.5s;
  text-decoration: none;
}
.bgBt:hover{
  background: rgb(255, 255, 255);
  color: #ff990f;
}

.Cline {
  width: 30%;
  background-color: #f68514;
  height: 30px;  
  margin-top: -10px;
}

.fontSw {
  font-family: "SukhumvitSet-Text";
}

@font-face {
  font-family: "SukhumvitSet-Text";
  src: local("SukhumvitSet-Text"),
    url("../../assets/fonts/SukhumvitSet-Text.ttf") format("truetype");
  font-weight: normal;
}

.round {
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.xrow{
    --bs-gutter-x: 0rem;
}
.widthSlideImg{
  height: 33.33333vw;
}
.slideService{
  height: auto;
}
.abotusImg {
  height: 100vh;
}
.bgslideCo {
  background-color: #7b7b7b82;
}
.sizepre-next {
  background-color: #7b7b7b82;
  height: 100px;
}
.borderCard {
  border: #000000;
}

.hoverBack:link{
  font-size: 16px;
  color: #ffffff;
  transition:0.5s;
}
.hoverBack:visited{
  color: #ffffff;
  transition:0.5s;
}
.hoverBack:hover{
  color: rgb(152, 152, 152);
  transition:0.5s;
}
.hoverBarB{
  color: #ffffff;
  transition:0.5s;
}
.hoverBarB:hover{
  color: #f6851483;
  transition:0.5s;
}
.hoverBar{
  color: #000000;
  transition:0.5s;
}

.hoverBar:hover{
  color: #f6851483;
  transition:0.5s;
}
.hoverBarbord{
  font-weight: bold;
  color: #f68514;
  transition:0.5s;
}
.hoverBarbord:hover{
  transition:0.5s;
  color: #f6851483;
}
/* .AllBT {
    width: 250px;
    background: linear-gradient(to left, #f5e2c741, #f5e2c741);
    margin: 0 0.3em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-block;
    display: inline-block;
    padding: 6px 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 50px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 6px;
    color: #fff;
    background-color: #428bca;
    border-color: #091016;
    color: rgb(36, 8, 8);
    background-color: #101b24;
    border-color: #1a2d3d;
    border-radius: 15px;
    padding: 10px 50px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: deful;
    outline: 0 none;
} */


@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);
*, html {
  margin: 0;
  padding: 0;
}

.body {
  background: #ff9300;
  text-align: center;
  font-family: "Comfortaa", cursive;
  height: 100vh;
}

.svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.h1 {
  text-align: center;
  color: #fff;
  margin: 0 0 100px;
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: #e43725;
  padding: 20px 0;
}
.h1 b {
  font-weight: 700;
}

.made-with-love {
  margin-top: 20px;
  padding: 10px;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}
.LodingMargin{
  margin-top: 40vh;
}


.cardX {
 display: block;
 transform: translateZ(40px);
}

