.hoverBarBgWhite {
  color: #ff9300 !important;
  transition: 0.5s;
  font-size: 1.5vw;
}
.hoverBarBgWhite:hover {
  color: #f6851483!important;
  transition: 0.5s;
}
.hoverBarBgWhitebord {
  font-weight: bold;
  color: #f68514;
  transition: 0.5s;
  font-size: 21px;
}
.hoverBarBgWhitebord:hover {
  transition: 0.5s;
  color: #f6851483;
}

.hoverBarBgBlack {
  color: #ff8000 !important ;
  transition: 0.5s;
  font-size: 1.5vw;
}
.hoverBarBgBlack:hover {
  color: #f6851483!important;
  transition: 0.5s;
}
.hoverBarBgBlackBord {
  font-weight: bold;
  color: #f68514;
  transition: 0.5s;
  font-size: 21px;
}
.hoverBarBgBlackBord:hover {
  transition: 0.5s;
  color: #f6851483;
}

.marginTopService {
  margin-top: 3%;
  margin-left: 3%;
}
.marginTopWork {
  margin-top: 1%;
  margin-left: 12%;
}
.marginTopContact {
  margin-top: 3%;
  margin-left: 12%;
}
.marginTopAnouts {
  margin-top: 2%;
  margin-left: 23%;
}

.textHeadMEGroup {
  font-size: 62px;
  color: #ff9300;
  font-weight: bold;
  margin-left: 20%;
}
.textThaiMEGroup {
  margin-top: -3%;
  font-size: 30px;
  color: #ffffff;
  margin-left: 20%;
}
.textLogo1 {
  font-size: 2.5vw;
  color: #ff9300;
  text-align: center;
  font-weight: bold;
}
.textLogo2 {
  font-size: 1.1vw;
  color: #ff9300;
  text-align: center;
}
.marTopbar{
  margin-left: 30%;
}
.marTopbarContact{
  margin-left: 28%;
}
.marginNav{
  margin-left: 5.5vw;
}
.marginNavVV{
  margin-left: 35vw;
}
