html{
  overflow-y: overlay;   
}         
::-webkit-scrollbar {
  width: 14px;
}         
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #000000;
}
::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #ffffff;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.popUpCard {
  height: 98% !important;
}

.popUpDetail {
  height: 100% !important;
  overflow-y: hidden;
}

.popUpDetail .description {
  display: none;
}

.popUpCard.show-detail .popUpDetail .description {
  display: block;
}

.popUpCard.show-detail .popUpDetail {
  overflow-y: scroll;
}
.popUpCard.show-detail .popUpDetail::-webkit-scrollbar {
  display: none;
}
.popUpCard.show-detail .popUpDetail {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.PageFullvh {
  min-height: 100vh;
}

.BGLightNav {
  background: #ffffff23;
}
.textHead {
  font-size: 3vw;
  color: #000000;
  font-weight: bold;
}
.textInfo {
  font-size: 1vw;
  color: #000000;
}
.textInfoSer {
  font-size: 1.3vw;
  color: #000000;
}
.DetailAbotus {
  font-size: 1.5vw;
  color: #000000;
}

.textType {
  font-size: 1.8vw;
  color: #000000;
  margin-left: 2vw;
}
.Cline {
  width: 20%;
  background-color: #f68514;
  height: 3px !important;
  margin-top: -1%;
}
.ClineAbout {
  width: 30%;
  background-color: #f68514;
  height: 3px !important;
  margin-top: -2%;
}
.radiusDetailAbout {
  background: #ffffff;
  border-radius: 0px 50px 50px 0px;
}

.round {
  border-radius: 100%;
  background: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textNEMP {
  font-size: 1.5vw;
  color: #FC501E;
  font-weight: bold;
}
.textNEMP_Mbti_Q {
  font-size: 1.2vw;
  color: #404040;
}

.TextContactHsub {
  font-size: 1.2vw;
  color: #000000;
  font-weight: bold;
}
.buttonSend {
  background: #ff990f;
  border-radius: 30px;
  margin: 0 0.6em;
  font-size: 1.2vw;
  padding: 6px;
  display: inline-block;
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  width: 9vw;
  height: 4vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.buttonSend:hover {
  background: rgb(255, 255, 255);
  color: #ff990f;
}
.ItemJJC {
  padding: 6.5% !important;
}

.marginTopCon {
  margin-top: 15%;
}

.textTeamEmp {
  font-size: 4.5vw;
  color: #f8f8f8;
  font-weight: bold;
}
.CardTitle {
  position: absolute;
  width: 23vw;
  border-radius: 30px 30px 30px 30px;
  margin-top: -15%;
  background: #ffffff;
}
/* CardHover */
.sci {
  position: absolute;
  justify-content: center;
  bottom: 100px;
  background: #ffffff;
  border-radius: 30px 30px 30px 30px;
  height: 90%;
  width: 23vw;
  overflow-y: scroll;
}
.sci::-webkit-scrollbar {
  display: none;
}
.sci {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sci {
  margin: 0 0px;
  transform: translateY(100%);
  transition: 0.5s;
  opacity: 0;
}

.cardCardHover:hover .sci {
  transform: translateY(35%); /*38% 110px*/
  opacity: 1;
}
.sliderBlog{
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
}
.sliderBlog > div {
  flex-shrink: 0;
  width: 30vw;
  height: 23vw;
  text-align: center;
}
.sliderMedium {
  /* line them up horizontally */
  display: flex;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  /* scroll-snap-points-x: repeat(300px); */
  scroll-snap-type: mandatory;
}
/* .sliderMedium::-webkit-scrollbar {
  display: none;
} */
.sliderMedium > div {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 28.5vw;
  height: 28vw;
  /* line-height: 300px; */
  text-align: center;
  /* background: #f0f0f0; */
  /* margin-right: 15px;
  border-radius: 5px; */
}
/* .marginNav{
  margin-left: 8vw;
} */

.slider-wrapper {
  font-size: 2vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  color: #ffffff;
  height: 50px;
  padding-left: 15px;
  overflow: hidden;
}
.slider div {
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 10px;
  box-sizing: border-box;
}
.slider-text1 {
  animation: slide 12s ease infinite;
  /* animation: appear 10s infinite; */
  animation-play-state: running;
}

@keyframes slide {
  0% {
    margin-top: 100px;
  }
  5% {
    margin-top: 0px;
  }

  14% {
    margin-top: 0px;
  }
  19% {
    margin-top: -100px;
  }

  28% {
    margin-top: -100px;
  }
  33% {
    margin-top: -200px;
  }

  42% {
    margin-top: -200px;
  }
  47% {
    margin-top: -300px;
  }

  56% {
    margin-top: -300px;
  }
  61% {
    margin-top: -400px;
  }

  70% {
    margin-top: -400px;
  }
  75% {
    margin-top: -500px;
  }

  84% {
    margin-top: -500px;
  }
  89% {
    margin-top: -600px;
  }

  98% {
    margin-top: -600px;
  }

  100% {
    margin-top: -650px;
  }
}
.HiddenOBJ {
  display: none !important;
}
.contentEMPImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(0%, auto));
  grid-gap: 1%;
  max-width: auto;
  margin: auto;
}
.test {
  width: 70%;
  height: 70%;
}
.marginTopRes {
  margin-top: 5%;
}

@media only screen and (max-width: 568px) {
  .marSpTop {
    margin-top: 35vh;
  }
  .ResDisplayNone {
    display: none !important;
  }
  .HiddenOBJ {
    display: block !important;
  }
  .headtext {
    font-size: 9vw;
    color: #ffffff;
    font-weight: bold;
  }
  .text {
    font-size: 4vw;
    color: #ffffff;
  }
  .slider-wrapper {
    font-size: 5.5vw;
    margin-right: 5%;
  }
  .marginTopRes {
    margin-top: 10%;
  }
  .marginTopResContact {
    margin-top: 10vw;
  }
  .marginDisTopcon1 {
    text-align: center;
    margin-left: -5%;
  }
  .HomeMenu {
    margin-left: -3vw;
    min-height: 100vh;
    background: #404040 !important;
    margin-top: -5.7vh;
    min-width: 100vw;
  }
  .Xclose {
    font-size: 11vw;
    color: #ffffff;
    font-weight: bold;
  }
  .textLogo1 {
    font-size: 7vw;
    color: #fe5000;
    text-align: center;
    font-weight: bold;
  }
  .textLogo2 {
    font-size: 3vw;
    color: #fe5000;
    text-align: center;
  }
  .textHead {
    font-size: 7vw;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }
  .textHeadWhite {
    font-size: 7vw;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }
  .FontSizeMenuHome {
    font-size: 7vw;
    font-weight: bold;
    color: #ffffff !important;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .TextContactHsub {
    font-size: 3vw;
    color: #000000;
    font-weight: normal;
  }
  .textInfo {
    font-size: 2.5vw;
    color: #000000;
  }
  
  .nav-link {
    display: block;
    padding: 3rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .buttonSend {
    background: #ff990f;
    border-radius: 30px;
    margin: 0 0.6em;
    font-size: 3.5vw;
    padding: 6px;
    display: inline-block;
    color: rgb(252, 252, 252);
    letter-spacing: 1px;
    width: 45vw;
    height: 15vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
  }
  .buttonSend:hover {
    background: rgb(255, 255, 255);
    color: #ff990f;
  }

  .radiusDetailAbout {
    background: #404040;
    border-radius: 0px;
  }
  .ClineAbout {
    width: 40%;
    background-color: #f68514;
    height: 2px !important;
    justify-content: center;
    align-items: center;
  }
  .DetailAbotus {
    font-size: 2.5vw;
    color: #ffffff;
  }
  .abotusImg {
    height: 59vw;
    margin-left: 0%;
  }
  .contentEMPImg {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(0%, auto));
    grid-gap: 1%;
    max-width: auto;
    margin: auto;
  }
  .test {
    width: 80%;
    height: 80%;
  }
}
.OurBlog {
  margin-top: 3% !important;
  border-radius: 1vw;
  background: #ffffff;
  box-shadow: 1px 5px 7px #aaa8a8;
}
.OutService {
  margin-top: -20% !important;
  border-radius: 0.8rem;
  background: #ffffff;
  box-shadow: 1px 5px 7px #aaa8a8;
}
.CardOutService {
  /* justify-content: center; */
  margin-left: 1.9vw;
  display: grid;
  grid-template-columns: repeat(5, 19vw);
  grid-template-rows: repeat(4, minmax(12vw, auto));
  grid-gap: 0.1vw;
}
.CardWorkWithUs {
  justify-content: center;
  /* margin-left: 1.9vw; */
  display: grid;
  grid-template-columns: repeat(5, 17vw);
  grid-template-rows: repeat(4, minmax(12vw, auto));
  grid-gap: 0.1vw;
}

.Imgcircle {
  /* height: 100% !important; */
  /* overflow-y: hidden; */
  border-radius: 100%;
  background-color: rgb(183, 183, 183);
  height: 5.5vw;
  width: 5.5vw;
  /* margin-left: 6.5vw; */
}
.ImgcircleBlog {
  /* height: 100% !important; */
  /* overflow-y: hidden; */
  border-radius: 100%;
  /* background-color: rgb(183, 183, 183); */
  height: 4vw;
  width: 4vw;
  /* margin-left: 6.5vw; */
}
.NameBlog {
  font-size: 1vw;
}
.NameOutService {
  text-align: center;
  font-size: 1.4vw;
  font-weight: bold;
}
.OutServiceHeader {
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 2vw;
  margin-left: 7vw;
}
.OutServiceHeader2 {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  margin-left: 7vw;
}
.TeamHeader{
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 3vw;
  margin-left: 7vw;
}
.TeamHeader2 {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  margin-left: 7vw;
}
.dotOrang {
  font-size: 1.8vw;
  font-weight: bold;
  color: #fc501e;
}


.WorkWithUs {
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 18vw;
  text-align: center;
}
.WorkWithUsFormation {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  text-align: center;
}
.ImgWorkWithUs {
  border-radius: 100%;
  background-color: none;
  height: 5.5vw;
  width: 5.5vw;
}
.ImgBoxNum {
  background-color: #fc501e;
  height: 2.3vw;
  width: 2.2vw;
}
.NumWWU {
  color: #ffffff;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
}
.TitleWWU{
  text-align: center;
  font-size: 1.4vw;
  font-weight: bold;
}
.DetailWWU{
  font-size: 1.1vw;
  font-weight: bold;
  color: #fc501e;
}
.OurSolutionHeader{
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 30vw;
  margin-left: 7vw;
}
.TextHeadOutSolution{
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 2px 2px 2px #00000053;
}
.TexeIf{
  font-size: 2vw;
  font-weight: bold;
  color: #FF9300;
}
.TextHeadIf{
  font-weight: bold;
  color: #FF9300;
}
.buttonSendOutSolution {
  background: #ff990f;
  border-radius: 10px;
  margin: 0 0.6em;
  font-size: 1.2vw;
  padding: 6px;
  display: inline-block;
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  width: 13vw;
  height: 4vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.buttonSendOutSolution:hover {
  background: rgb(255, 255, 255);
  color: #ff990f;
}
.ourWorksHeader{
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 2vw;
}
.ourWorksHeader2{
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  margin-left: 2vw;
}
.AboutUsHeader{
  font-size: 1.8vw;
  font-weight: bold;
}
.AboutUsHeader2{
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
}
.TitleTechstack{
  font-size: 3.5vw;
  font-weight: bold;
}
.DetailTechstack{
  font-size: 1.9vw;
  font-weight: bold;
}
.TitleTech{
  text-align: center;
  font-size: 1.4vw;
  background: #ff990f;
  border-radius: 99999999px;
  margin: 15% 1.25em;
  padding: 6px;
  display: inline-block;
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  width: 11vw;
  height: 2.5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.DetailTech{
  font-size: 1vw;
  color: #404040;
}
.shadowBox{
  box-shadow: 1px 5px 7px #aaa8a8;
}
.workTitle{
  font-size: 1.2vw;
}
.workDetail{
  font-size: 1vw;
}