nav .containerHome ul li a {
  padding: 0 1vw;
  color: #000000;
  font-size: 1.2vw;
  font-weight: bold;
}
.hovewe:hover {
  color: #888888 !important;
  transition: 0.5s;
}
nav .containerHome ul li.active a:hover {
  transition: 0.5s;
  color: #f6851483 !important;
}

nav .containerHome ul li.active a {
  color: #fe5000;
  font-size: 1.5vw;
  font-weight: bold;
}
.centerNav {
  margin-top: auto;
  margin-bottom: auto;
}
.hoverBarBgWhite {
  /* color: #000000 !important; */
  transition: 0.5s;
  font-size: 1.4vw;
  font-weight: bold;
}
.hoverBarBgWhite:hover {
  color: #888888 !important;
  transition: 0.5s;
}
.hoverBarBgWhitebord {
  font-weight: bold;
  color: #f68514;
  transition: 0.5s;
  font-size: 21px;
}
.hoverBarBgWhitebord:hover {
  transition: 0.5s;
  color: #f6851483;
}

.hoverBarBgBlack {
  color: #ff8000 !important ;
  transition: 0.5s;
  font-size: 1.5vw;
  font-weight: bold;
}
.hoverBarBgBlack:hover {
  color: #f6851483 !important;
  transition: 0.5s;
}
.hoverBarBgBlackBord {
  font-weight: bold;
  color: #f68514;
  transition: 0.5s;
  font-size: 21px;
}
.hoverBarBgBlackBord:hover {
  transition: 0.5s;
  color: #f6851483;
}

.marginTopService {
  margin-top: 3%;
  margin-left: 3%;
}
.marginTopWork {
  margin-top: 1%;
  margin-left: 12%;
}
.marginTopContact {
  margin-top: 3%;
  margin-left: 12%;
}
.marginTopAnouts {
  margin-top: 2%;
  margin-left: 23%;
}

.textHeadMEGroup {
  font-size: 62px;
  color: #ff9300;
  font-weight: bold;
  margin-left: 20%;
}
.textThaiMEGroup {
  margin-top: -3%;
  font-size: 30px;
  color: #ffffff;
  margin-left: 20%;
}
.textLogo1 {
  font-size: 2.5vw;
  color: #fe5000;
  text-align: center;
  font-weight: bold;
}
.textLogo2 {
  font-size: 1.1vw;
  color: #000000;
  text-align: right;
}
.marginNav {
  margin-left: 4vw;
}
.marginNavVV {
  margin-left: 25vw;
}
.marginscroll {
  margin-top: 7vw;
}
.SizeMap {
  width: 32vw;
  height: 25vw;
}
.marginTopCon {
  margin-top: 5vw;
}
.AboutSlidePosi{
  position: absolute;
  margin-left: 54vw;
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: inherit;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .marginTopCon {
    margin-top: 2vw;
  }
  .PageAboutUsH{
    height: 100vh;
  }

  
}
@media only screen and (max-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: inherit;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .SizeMap {
    width: 32vw;
    height: 30vw;
  }
  .sliderBlog::-webkit-scrollbar {
    height: 13px;
    
  }
  .sliderBlog::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
    width: 20px;
  }
  .sliderBlog::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }
  .sliderMedium::-webkit-scrollbar {
    height: 13px;
  }
  .sliderMedium::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
    width: 1% !important;
  }
  .sliderMedium::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }
  .AboutSlidePosi{
    position: absolute;
    margin-left: 52vw;
    overflow: hidden;
  }
}
