html {
  overflow-y: overlay;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  height: 100px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #00000099;
}
::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #ffffff82;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:active {
  color: rgb(240, 234, 234);
}
.popUpCard {
  height: 98% !important;
}

.popUpDetail {
  height: 100% !important;
  overflow-y: hidden;
}

.popUpDetail .description {
  display: none;
}

.popUpCard.show-detail .popUpDetail .description {
  display: block;
}

.popUpCard.show-detail .popUpDetail {
  overflow-y: scroll;
}
.popUpCard.show-detail .popUpDetail::-webkit-scrollbar {
  display: none;
}
.popUpCard.show-detail .popUpDetail {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .PageFullvh {
  min-height: 100vh;
} */

.BGLightNav {
  background: #ffffff;
}
.textHead {
  font-size: 3vw;
  color: #000000;
  font-weight: bold;
}
.textInfo {
  font-size: 1vw;
  color: #000000;
}
.textInfoSer {
  font-size: 1.3vw;
  color: #000000;
}
.DetailAbotus {
  font-size: 1.5vw;
  color: #ffffff;
}

.textType {
  font-size: 1.8vw;
  color: #000000;
  margin-left: 1.6vw;
}
.Cline {
  width: 20%;
  background-color: #f68514;
  height: 3px !important;
  margin-top: -1%;
}
.ClineAbout {
  width: 30%;
  background-color: #f68514;
  height: 3px !important;
  margin-top: -2%;
}
.ClineMessen {
  width: 15vw;
  background-color: #f68514;
  height: 2px !important;
}
.radiusDetailAbout {
  background: #ffffff;
  border-radius: 0px 50px 50px 0px;
}

.round {
  border-radius: 100%;
  background: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textNEMP {
  font-size: 1.5vw;
  color: #fc501e;
  font-weight: bold;
}
.textNEMP_Mbti_Q {
  font-size: 1.2vw;
  color: #404040;
}

.TextContactHsub {
  font-size: 1.2vw;
  color: #000000;
  font-weight: bold;
}
.buttonSend {
  background: #ff990f;
  border-radius: 30px;
  margin: 0 0.6em;
  font-size: 1.2vw;
  padding: 6px;
  display: inline-block;
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  width: 10vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.buttonSend:hover {
  background: rgb(255, 255, 255);
  color: #ff990f;
}
.ItemJJC {
  padding: 6.5% !important;
}

.messenMargin {
  margin-bottom: 1vw;
}

.textTeamEmp {
  font-size: 4.5vw;
  color: #f8f8f8;
  font-weight: bold;
}
.CardTitle {
  position: absolute;
  width: 23vw;
  border-radius: 30px 30px 30px 30px;
  margin-top: -15%;
  background: #ffffff;
}
/* CardHover */
.sci {
  position: absolute;
  justify-content: center;
  bottom: 100px;
  background: #ffffff;
  border-radius: 30px 30px 30px 30px;
  height: 90%;
  width: 23vw;
  overflow-y: scroll;
}
.sci::-webkit-scrollbar {
  display: none;
}
.sci {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sci {
  margin: 0 0px;
  transform: translateY(100%);
  transition: 0.5s;
  opacity: 0;
}

.cardCardHover:hover .sci {
  transform: translateY(35%); /*38% 110px*/
  opacity: 1;
}
.sliderBlog {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
}
.sliderBlog > div {
  flex-shrink: 0;
  width: 30vw;
  height: 23vw;
  text-align: center;
}

.sliderMedium {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
}
.sliderMedium > div {
  flex-shrink: 0;
  width: 28.5vw;
  height: 28vw;
  text-align: center;
}
.sliderMedium::-webkit-scrollbar {
  height: 13px;
}
.sliderMedium::-webkit-scrollbar-thumb {
  border: 4px solid rgba(255, 1, 1, 0);
  background-color: #ff990f;
}
.sliderMedium::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: #d0cbcb;
}
.sliderBlog::-webkit-scrollbar {
  height: 13px;
}
.sliderBlog::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: #ff990f;
  width: 80px;
}
.sliderBlog::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: #d0cbcb;
}

.slider-wrapper {
  font-size: 2vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  color: #ffffff;
  height: 50px;
  padding-left: 15px;
  overflow: hidden;
  width: 100vw;
}
.slider div {
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 10px;
  box-sizing: border-box;
}
.slider-text1 {
  animation: slide 12s ease infinite;
  /* animation: appear 10s infinite; */
  animation-play-state: running;
}
.phone2 {
  margin-left: 2vw;
}
@keyframes slide {
  0% {
    margin-top: 100px;
  }
  5% {
    margin-top: 0px;
  }

  14% {
    margin-top: 0px;
  }
  19% {
    margin-top: -100px;
  }

  28% {
    margin-top: -100px;
  }
  33% {
    margin-top: -200px;
  }

  42% {
    margin-top: -200px;
  }
  47% {
    margin-top: -300px;
  }

  56% {
    margin-top: -300px;
  }
  61% {
    margin-top: -400px;
  }

  70% {
    margin-top: -400px;
  }
  75% {
    margin-top: -500px;
  }

  84% {
    margin-top: -500px;
  }
  89% {
    margin-top: -600px;
  }

  98% {
    margin-top: -600px;
  }

  100% {
    margin-top: -650px;
  }
}
.HiddenOBJ {
  display: none !important;
}
.Hiddenwwu {
  display: none !important;
}
.contentEMPImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(0%, auto));
  grid-gap: 1%;
  max-width: auto;
  margin: auto;
}
.test {
  width: 70%;
  height: 70%;
}
.marginTopRes {
  margin-top: 5%;
}

.OurBlog {
  margin-top: 3% !important;
  border-radius: 1vw;
  background: #ffffff;
  box-shadow: 1px 5px 7px #aaa8a8;
}
.OutService {
  margin-top: -20% !important;
  border-radius: 0.8rem;
  background: #ffffff;
  box-shadow: 1px 5px 7px #aaa8a8;
}
.centertset {
  justify-content: center;
}
.CardOutServiceRow {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 5vw;
}
.CardOutService {
  /* justify-content: center; */
  margin-left: 1.9vw;
  display: grid;
  grid-template-columns: repeat(5, 19vw);
  /* grid-template-rows: repeat(4, minmax(13vw, auto)); */
  grid-gap: 0.1vw;
  /* align-self: center;
  justify-self: center;
  text-align: center;
  place-items: center; */
}
.CardWorkWithUs {
  justify-content: center;
  /* margin-left: 1.9vw; */
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 4.5vw;
}
.PosiIconWWUs {
  position: absolute;
  bottom: -7vw;
  left: auto;
  right: auto;
  height: 0px;
  margin-left: 11vw;
}
.WorkWUsHeight {
  display: grid;
  background: #fbfbfb;
  height: 12.5vw;
  width: 12.5vw;
}
.nameWUsTitle {
  margin-top: 2vw;
  font-size: 1vw;
  font-weight: bold;
}
.detailWUs {
  font-size: 0.9vw;
  color: #ff9300;
  font-weight: bold;
}
.NoWWU {
  background: #ff9300;
  color: #ffffff;
  position: absolute;
  margin-top: -1vw;
  width: 1.8vw;
  height: 2vw;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
}
.CenterCol {
  justify-items: center;
}
.IconWWUs {
  height: 5vw;
}
.Imgcircle {
  /* height: 100% !important; */
  /* overflow-y: hidden; */
  border-radius: 100%;
  background-color: rgb(183, 183, 183);
  height: 5.5vw;
  width: 5.5vw;
  /* margin-left: 6.5vw; */
}

.NameBlog {
  font-size: 1vw;
}
.NameOutService {
  text-align: center;
  font-size: 1.4vw;
  font-weight: bold;
}
.OutTechnologyHeader {
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 6.7vw;
  margin-top: 7vw;
}
.OutTechnologyHeader2 {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  margin-left: 6.7vw;
}
.OuConHeader {
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 6.7vw;
  margin-top: -1vw;
}
.OutServiceHeader {
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 55vw;
  /* margin-left: 7vw; */
  text-align: center;
}
.OutServiceHeader2 {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  /* margin-left: 7vw; */
  text-align: center;
}
.Outsolution {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  margin-left: 6.7vw;
}
.TeamHeader {
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 3vw;
  margin-left: 6.7vw;
}
.TeamHeader2 {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  margin-left: 6.7vw;
}
.dotOrang {
  font-size: 1.8vw;
  font-weight: bold;
  color: #fc501e;
}
.dotWhite {
  font-size: 1.8vw;
  font-weight: bold;
  color: #ffffff;
}

.WorkWithUs {
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 18vw;
  text-align: center;
}
.WorkWithUsFormation {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  text-align: center;
}
.ImgWorkWithUs {
  border-radius: 100%;
  background-color: none;
  height: 5.5vw;
  width: 5.5vw;
}
.ImgBoxNum {
  background-color: #fc501e;
  height: 2.3vw;
  width: 2.2vw;
}
.NumWWU {
  color: #ffffff;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
}
.TitleWWU {
  text-align: center;
  font-size: 1.4vw;
  font-weight: bold;
}
.DetailWWU {
  font-size: 1.1vw;
  font-weight: bold;
  color: #fc501e;
}
.OurSolutionHeader {
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 30vw;
  margin-left: 6.7vw;
}
.TextHeadOutSolution {
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 2px 2px 2px #00000053;
}
.TexeIf {
  font-size: 2vw;
  font-weight: bold;
  color: #ff9300;
}
.TextHeadIf {
  font-weight: bold;
  color: #ff9300;
}
.buttonSendOutSolution {
  background: #ff990f;
  border-radius: 10px;
  margin: 0 0.6em;
  font-size: 1.2vw;
  padding: 6px;
  display: inline-block;
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  width: 13vw;
  height: 4vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.buttonSendOutSolution:hover {
  background: rgb(255, 255, 255);
  color: #ff990f;
}
.buttonSendTech {
  background: #ff990f;
  border-radius: 10px;
  margin: 0 0.6em;
  font-size: 1.2vw;
  padding: 6px;
  display: inline-block;
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  width: 13vw;
  height: 4vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.buttonSendTech:hover {
  background: rgb(255, 255, 255);
  color: #ff990f;
}
.ourWorksHeader {
  font-size: 1.8vw;
  font-weight: bold;
  margin-left: 1.6vw;
}
.ourWorksHeader2 {
  font-size: 2vw;
  font-weight: bold;
  color: #fc501e;
  margin-left: 1.6vw;
}
.AboutUsHeader {
  font-size: 1.8vw;
  font-weight: bold;
  color: #ffffff;
}
.AboutUsHeader2 {
  font-size: 2vw;
  font-weight: bold;
  color: #ffffff;
}
.TitleTechstack {
  font-size: 3.5vw;
  font-weight: bold;
}
.DetailTechstack {
  font-size: 1.9vw;
  font-weight: bold;
}
.TitleTech {
  text-align: center;
  font-size: 1.4vw;
  background: #ff990f;
  border-radius: 99999999px;
  margin: 15% 1.25em;
  padding: 6px;
  display: inline-block;
  color: rgb(252, 252, 252);
  letter-spacing: 1px;
  width: 11vw;
  height: 2.5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}
.DetailTech {
  font-size: 1vw;
  color: #404040;
}
.shadowBox {
  box-shadow: 1px 5px 7px #aaa8a8;
}
.workTitle {
  font-size: 1.2vw;
}
.workDetail {
  font-size: 1vw;
}
.marginLeftConTitle {
  margin-left: 3vw;
}
.Cardcontent {
  display: grid;
  grid-template-columns: repeat(4, 21vw);
  grid-template-rows: repeat(4, minmax(0px, auto));
  grid-gap: 2vw;
}
.widthCardWork {
  width: 19.5vw;
}
.ImgcardWork {
  border-radius: 30px;
  height: 20vw;
}
.ImgAbouUs {
  height: 15vw;
  width: 15vw;
  border-radius: 100%;
  margin-top: 1%;
}
.marTopAboutus {
  margin-top: -5%;
}
.detailBlog {
  margin-left: 9vw;
  font-size: 1.2vw;
}
.OurSerPageH {
  height: 25vw;
}
.OurWWUPageH {
  height: 2vw;
}
.OurSerWidth {
  width: 18vw;
}
.OurSerHeight {
  background: #fbfbfb;
  height: 10vw;
}

.marginNameOS {
  position: absolute;
  bottom: 5.9vw;
  left: 0;
  right: 0;
  background-color: none;
}
.ImgOS {
  position: absolute;
  bottom: 0.8vw;
  left: 34%;
  right: 0;
  background-color: none;
}
.marginWork {
  margin-left: 3.5vw;
}
.WWUwidth {
  width: 13vw;
}
.OurSolutionPageH {
  height: 45vw;
}
.ImgslideSoul {
  width: 37vw;
}
.Cirfilter {
  width: 6.5vw;
}
.dotCube {
  width: 15vw;
}
.CirB {
  width: 24vw;
}
.OSap {
  width: 28vw;
}
.PosiImgslideSoul {
  position: absolute;
  bottom: -6.5vw;
  left: 10vw;
  right: 0;
  height: 100%;
}
.PosiCirfilter {
  position: absolute;
  bottom: -8vw;
  left: 8.5vw;
  right: 0;
  height: 100%;
}
.PosidotCube {
  position: absolute;
  bottom: -18.5vw;
  left: 11vw;
  right: 0;
  height: 100%;
}
.PosiCirB {
  position: absolute;
  bottom: -11.5vw;
  left: 23.5vw;
  right: 0;
  height: 100%;
}
.PosiOSap {
  position: absolute;
  bottom: -0.5vw;
  left: 15vw;
  right: 0;
  height: 100%;
}
.sizeOurBlog {
  height: 20vw;
  width: 28vw;
}
.ImgBlog {
  position: absolute;
  bottom: 5.5vw;
  left: 0.98vw;
  right: 0;
  background-color: none;
  width: 26vw;
}
.ImgBlogsize {
  width: 100%;
  height: 13.5vw;
}
.marImgcirBlog {
  position: absolute;
  bottom: 0.8vw;
  left: 0.98vw;
  right: 0;
  background-color: none;
}
.ImgcircleBlog {
  border-radius: 100%;
  height: 4vw;
  width: 4vw;
}
.NameBlogmargin {
  position: absolute;
  bottom: 0.5vw;
  left: -15vw;
  right: 0;
  background-color: none;
}
.ImgBGServ {
  position: absolute;
  /* bottom: 1vw; */
  left: 0;
  right: 0;
  height: 0px;
  z-index: -1;
  top: -50px;
}
.OutTechnologyPage {
  height: 60vw;
}
.TitleTechMargin {
  position: absolute;
  bottom: -14vw;
  left: 0;
  right: 0;
  background-color: none;
}
.DetailTechMargin {
  position: absolute;
  bottom: -23vw;
  left: 0;
  right: 0;
  background-color: none;
}
.ButtonSendTechargin {
  position: absolute;
  bottom: -28vw;
  left: 13%;
  right: 0;
  background-color: none;
  height: 100%;
}
.InfoTechsize {
  width: 40vw;
  margin-left: 6.7vw;
}
.PageCon {
  height: 100vh;
}
.col-OurServ {
  width: 17%;
}
.DetailPageSize {
  height: 58.41vw;
}
.PageAboutUsH {
  height: 100vh;
}
nav .containerHome ul li a {
  padding: 0 1vw;
  color: #000000;
  font-size: 1.2vw;
  font-weight: bold;
}
.hovewe:hover {
  color: #888888 !important;
  transition: 0.5s;
}
nav .containerHome ul li.active a:hover {
  transition: 0.5s;
  color: #f6851483 !important;
}

nav .containerHome ul li.active a {
  color: #fe5000;
  font-size: 1.5vw;
  font-weight: bold;
}
.centerNav {
  margin-top: auto;
  margin-bottom: auto;
}
.hoverBarBgWhite {
  /* color: #000000 !important; */
  transition: 0.5s;
  font-size: 1.4vw;
  font-weight: bold;
}
.hoverBarBgWhite:hover {
  color: #888888 !important;
  transition: 0.5s;
}
.hoverBarBgWhitebord {
  font-weight: bold;
  color: #f68514;
  transition: 0.5s;
  font-size: 21px;
}
.hoverBarBgWhitebord:hover {
  transition: 0.5s;
  color: #f6851483;
}

.hoverBarBgBlack {
  color: #ff8000 !important ;
  transition: 0.5s;
  font-size: 1.5vw;
  font-weight: bold;
}
.hoverBarBgBlack:hover {
  color: #f6851483 !important;
  transition: 0.5s;
}
.hoverBarBgBlackBord {
  font-weight: bold;
  color: #f68514;
  transition: 0.5s;
  font-size: 21px;
}
.hoverBarBgBlackBord:hover {
  transition: 0.5s;
  color: #f6851483;
}

.marginTopService {
  margin-top: 3%;
  margin-left: 3%;
}
.marginTopWork {
  margin-top: 1%;
  margin-left: 12%;
}
.marginTopContact {
  margin-top: 3%;
  margin-left: 12%;
}
.marginTopAnouts {
  margin-top: 2%;
  margin-left: 23%;
}

.textHeadMEGroup {
  font-size: 62px;
  color: #ff9300;
  font-weight: bold;
  margin-left: 20%;
}
.textThaiMEGroup {
  margin-top: -3%;
  font-size: 30px;
  color: #ffffff;
  margin-left: 20%;
}
.textLogo1 {
  font-size: 2.5vw;
  color: #fe5000;
  text-align: center;
  font-weight: bold;
}
.textLogo2 {
  font-size: 1.1vw;
  color: #000000;
  text-align: right;
}
.marginNav {
  margin-left: 4vw;
}
.marginNavVV {
  margin-left: 25vw;
}
.marginscroll {
  margin-top: 7vw;
}
.SizeMap {
  width: 32vw;
  height: 25vw;
}
.marginTopCon {
  margin-top: 5vw;
}
.AboutSlidePosi {
  position: absolute;
  margin-left: 53vw;
  overflow: hidden;
}
.abotusImg {
  height: 59vw;
  margin-left: -18%;
}
.heddinResslide{
  display: none ;
}
@media only screen and (max-width: 1230px) {
  .PageAboutUsH {
    height: 59vw;
  }
  .Page100Vh {
    height: 100vh;
  }
  .Page100VhConT{
    height: 100vh;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: inherit;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .marginTopCon {
    margin-top: 2vw;
  }
  .Page100Vh {
    height: 90vh;
  }
  .Page100VhConT{
    height: 90vh;
  }
}

@media only screen and (max-width: 768px) {
  .OurSolutionPageH {
    height: 47vw;
  }
  .abotusImg {
    margin-left: -18%;
    margin-top: 0.2vw;
  }
  .navbar-nav {
    display: flex;
    flex-direction: inherit;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .SizeMap {
    width: 32vw;
    height: 30vw;
  }
  .sliderBlog::-webkit-scrollbar {
    height: 13px;
  }
  .sliderBlog::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
    width: 20px;
  }
  .sliderBlog::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }
  .sliderMedium::-webkit-scrollbar {
    height: 13px;
  }
  .sliderMedium::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
    width: 1% !important;
  }
  .sliderMedium::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }
  .AboutSlidePosi {
    position: absolute;
    margin-left: 52vw;
    overflow: hidden;
  }
  .Page100Vh {
    height: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #6b6b6b;
    width: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb63;
  }

  .marSpTopRes {
    margin-top: 35vh;
  }
  .ResDisplayNone {
    display: none !important;
  }
  .HiddenOBJ {
    display: block !important;
  }
  .Hiddenwwu {
    display: flex !important;
  }
  .headtext {
    font-size: 9vw;
    color: #ffffff;
    font-weight: bold;
  }
  .text {
    font-size: 4vw;
    color: #ffffff;
  }
  .slider-wrapper {
    font-size: 5.5vw;
    margin-right: 5%;
  }
  .marginTopRes {
    margin-top: 10%;
  }
  .marginTopResContact {
    margin-top: 10vw;
  }
  .marginDisTopcon1 {
    margin-left: -5%;
  }
  .HomeMenu {
    margin-left: -3vw;
    min-height: 105vh;
    background: #404040 !important;
    margin-top: -7vh;
    min-width: 100vw;
  }
  .Xclose {
    font-size: 11vw;
    color: #ffffff;
    font-weight: bold;
  }
  .textLogo1 {
    font-size: 7vw;
    color: #fe5000;
    text-align: center;
    font-weight: bold;
  }
  .textLogo2 {
    font-size: 3vw;
    color: #fe5000;
    text-align: center;
  }
  .textHead {
    font-size: 7vw;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }
  .textHeadWhite {
    font-size: 7vw;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }
  .FontSizeMenuHome {
    font-size: 7vw;
    font-weight: bold;
    color: #ffffff !important;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .TextContactHsub {
    font-size: 3vw;
    color: #000000;
    font-weight: normal;
  }
  .OutServiceHeader {
    font-size: 3.5vw;
    font-weight: bold;
    margin-top: 2vw;
    margin-left: 0vw;
    text-align: center;
  }
  .OutServiceHeader2 {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    color: #fc501e;
    margin-left: 0vw;
  }
  .textInfo {
    font-size: 2.5vw;
    color: #000000;
  }

  .nav-link {
    display: block;
    padding: 3rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .buttonSend {
    background: #ff990f;
    border-radius: 30px;
    margin: 0 0.6em;
    font-size: 3.5vw;
    padding: 6px;
    display: inline-block;
    color: rgb(252, 252, 252);
    letter-spacing: 1px;
    width: 45vw;
    height: 15vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
  }
  .buttonSend:hover {
    background: rgb(255, 255, 255);
    color: #ff990f;
  }

  .radiusDetailAbout {
    background: #404040;
    border-radius: 0px;
  }
  .ClineAbout {
    width: 40%;
    background-color: #f68514;
    height: 2px !important;
    justify-content: center;
    align-items: center;
  }
  .DetailAbotus {
    font-size: 2.5vw;
    color: #ffffff;
  }
  .contentEMPImg {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(0%, auto));
    grid-gap: 1%;
    max-width: auto;
    margin: auto;
  }
  .test {
    width: 80%;
    height: 80%;
  }

  .sliderWorkRes {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
  }
  .sliderWorkRes > div {
    flex-shrink: 0;
    width: 30vw;
    height: 95vw;
    text-align: center;
  }
  /* .sliderWorkRes::-webkit-scrollbar {
    display: none; for Chrome, Safari, and Opera
  } */
  .Cardcontent {
    display: grid;
    grid-template-columns: repeat(99, 85vw);
    grid-template-rows: repeat(4, minmax(0px, auto));
  }
  .widthCardWork {
    width: 80vw;
  }
  .ImgcardWork {
    border-radius: 30px;
    height: 85vw;
  }
  .margiLeftWorkcard {
    margin-left: 2%;
  }
  .ourWorksHeader {
    font-size: 3.5vw;
    font-weight: bold;
    margin-left: -1vw;
  }
  .ourWorksHeader2 {
    font-size: 4vw;
    font-weight: bold;
    color: #fc501e;
    margin-left: -1vw;
  }
  .textType {
    font-size: 3.5vw;
    color: #000000;
    margin-left: 2vw;
  }
  .workTitle {
    font-size: 3.5vw;
    font-weight: bold;
  }
  .workDetail {
    font-size: 3vw;
  }
  .abotusImg {
    height: 100vw;
    margin-left: -6.1vw;
  }
  .TeamHeader {
    font-size: 3.5vw;
    font-weight: bold;
    margin-top: 3vw;
    margin-left: 7vw;
  }
  .TeamHeader2 {
    font-size: 4vw;
    font-weight: bold;
    color: #fc501e;
    margin-left: 7vw;
  }

  .sliderAboutUs {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
  }
  .sliderAboutUs > div {
    flex-shrink: 0;
    width: 86vw;
    height: 80vh;
    text-align: center;
  }
  .ImgAbouUs {
    height: 80vw;
    width: 80vw;
  }
  .CardAboutus {
    display: grid;
    grid-template-columns: repeat(99, 100vw);
    grid-template-rows: repeat(4, minmax(0px, auto));
  }
  .textNEMP {
    font-size: 7.5vw;
    color: #fc501e;
    font-weight: bold;
  }
  .textNEMP_Mbti_Q {
    font-size: 5.5vw;
    color: #404040;
  }
  .marTopAboutus {
    margin-top: -3%;
  }
  .detailBlog {
    font-size: 3vw;
    color: #000000;
    font-weight: normal;
  }
  .marginWork {
    margin-left: 2vw;
  }

  .CardOutServiceRow {
    justify-content: unset;
    flex-wrap: unset;
    gap: 0px;
    row-gap: 0vw;
    display: grid;
    grid-template-columns: repeat(99, 97vw);
    /* grid-template-rows: repeat(4, minmax(0px, auto)); */
  }
  .sliderOurSer {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
  }
  .sliderOurSer > div {
    flex-shrink: 0;
    width: 10vw;
    height: 45vw;
    text-align: center;
  }
  /* .sliderOurSer::-webkit-scrollbar {
    display: none; 
  } */

  .margintopResSer {
    margin-top: 16%;
    margin-left: 15.5%;
  }
  .OurSerPageH {
    height: 25vh;
  }
  .OurSerWidth {
    width: 70vw;
  }
  .OurSerHeight {
    height: 40vw;
  }
  .marginNameOS {
    position: absolute;
    bottom: 28vw;
    left: 0;
    right: 0;
    background-color: none;
  }
  .ImgOS {
    position: absolute;
    bottom: 4vw;
    left: 34%;
    right: 0;
    background-color: none;
  }
  .NameOutService {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
  }
  .Imgcircle {
    border-radius: 100%;
    background-color: rgb(183, 183, 183);
    height: 23vw;
    width: 23vw;
  }
  .WorkWithUs {
    font-size: 3.5vw;
    font-weight: bold;
    margin-top: 28vw;
    text-align: center;
  }
  .WorkWithUsFormation {
    font-size: 4vw;
    font-weight: bold;
    color: #fc501e;
    text-align: center;
  }
  .OurSolutionHeader {
    font-size: 3.5vw;
    font-weight: bold;
    margin-top: 35vw;
    margin-left: 7vw;
  }
  .Outsolution {
    font-size: 4vw;
    font-weight: bold;
    color: #fc501e;
  }
  .CardWorkWithUs {
    /* justify-content: center; */
    /* margin-left: 1.9vw; */
    display: grid;
    grid-template-columns: repeat(2, 38.5vw);
    grid-gap: 10vw;
  }
  .OurWWUPageH {
    height: 67vh;
  }
  .ImgWWU {
    width: 18vh;
  }
  .OurSolutionPageH {
    height: 60vh;
  }
  .OurblogPageH {
    height: 50vh;
  }
  .PosiSoul {
    position: absolute;
    bottom: -70vw;
    left: 4.5%;
    right: 0;
  }
  .PosiSoulDetail {
    position: absolute;
    bottom: -85vw;
    left: 8%;
    right: 0;
  }
  .PosiSoulBT {
    position: absolute;
    bottom: -70vw;
    left: 0;
    right: 0;
  }
  .ImgslideSoul {
    width: 70vw;
  }
  .Cirfilter {
    width: 16vw;
  }
  .dotCube {
    width: 31vw;
  }
  .CirB {
    width: 50vw;
  }
  .OSap {
    width: 54vw;
  }
  .PosiImgslideSoul {
    position: absolute;
    bottom: -6.5vw;
    left: 15vw;
    right: 0;
    height: 100%;
  }
  .PosiCirfilter {
    position: absolute;
    bottom: -7vw;
    left: 10.5vw;
    right: 0;
    height: 100%;
  }
  .PosidotCube {
    position: absolute;
    bottom: -25vw;
    left: 15vw;
    right: 0;
    height: 100%;
  }
  .PosiCirB {
    position: absolute;
    bottom: -11.5vw;
    left: 36vw;
    right: 0;
    height: 100%;
  }
  .PosiOSap {
    position: absolute;
    bottom: -0.5vw;
    left: 26vw;
    right: 0;
    height: 100%;
  }
  .TextHeadOutSolution {
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 2px 2px 2px #00000053;
  }
  .textInfoSer {
    font-size: 3vw;
    color: #000000;
  }
  .buttonSendOutSolution {
    background: #ff990f;
    border-radius: 10px;
    margin: 0 0.6em;
    font-size: 3.5vw;
    padding: 10px;
    display: inline-block;
    color: rgb(252, 252, 252);
    letter-spacing: 1px;
    width: 35vw;
    height: 10vw;
    transition: 0.5s;
  }
  .buttonSendOutSolution:hover {
    background: rgb(255, 255, 255);
    color: #ff990f;
  }
  .sliderBlog {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
  }
  .sliderBlog > div {
    flex-shrink: 0;
    width: 95vw;
    height: 34vh;
    text-align: center;
  }
  .sizeOurBlog {
    height: 60vw;
    width: 80vw;
    margin-left: 6vw;
  }
  .ImgBlog {
    bottom: 16.5vw;
    left: 10vw;
    width: 72vw;
  }
  .ImgBlogsize {
    width: 100%;
    height: 40vw;
  }
  .marImgcirBlog {
    position: absolute;
    bottom: 3vw;
    left: 10vw;
  }
  .ImgcircleBlog {
    border-radius: 100%;
    height: 12vw;
    width: 12vw;
  }
  .NameBlogmargin {
    bottom: 4vw;
    left: -35vw;
  }
  .NameBlog {
    font-size: 3vw;
  }
  .ImgBGServ {
    /* bottom: 7vw; */
    top: -6vw;
  }
  .OutServiceHeader {
    font-size: 3.5vw;
    margin-top: 55vw;
  }
  .OutServiceHeader2 {
    font-size: 4vw;
  }
  .sliderTech {
    /* margin-left: 45vw; */
    width: 50vw;
    height: 70vw;
    /* display: flex; */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
  }
  .sliderTech > div {
    flex-shrink: 0;
    width: 50vw;
    height: 65vw;
    text-align: center;
  }
  .CardTech {
    display: grid;
    grid-template-columns: repeat(99, 55vw);
  }
  .TitleTech {
    text-align: center;
    font-size: 13px;
    background: #ff990f;
    border-radius: 99999999px;
    margin: 15% 1.25em;
    padding: 6px;
    display: inline-block;
    color: rgb(252, 252, 252);
    letter-spacing: 1px;
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
  }
  .font-sub {
    font-size: 10px;
  }
  .OutTechnologyPage {
    height: 90vw;
  }
  .OutTechnologyHeader {
    font-size: 3.5vw;
    font-weight: bold;
    margin-top: 2vw;
    margin-left: 7vw;
  }
  .OuConHeader {
    font-size: 3.5vw;
  }
  .OutTechnologyHeader2 {
    font-size: 4vw;
    font-weight: bold;
    color: #fc501e;
    margin-left: 7vw;
  }
  .TitleTechMargin {
    bottom: -21vw;
  }
  .DetailTechMargin {
    bottom: -32vw;
  }
  .ButtonSendTechargin {
    bottom: -40vw;
    left: 5%;
  }
  .TitleTechstack {
    font-size: 4vw;
    font-weight: bold;
  }
  .DetailTechstack {
    font-size: 2.8vw;
    font-weight: bold;
  }
  .InfoTechsize {
    width: 45vw;
    margin-left: 7vw;
  }
  .buttonSendTech {
    background: #ff990f;
    border-radius: 10px;
    margin: 0 0.6em;
    font-size: 3.5vw;
    padding: 5px 15px;
    display: inline-block;
    color: rgb(252, 252, 252);
    letter-spacing: 1px;
    width: auto;
    height: auto;
    transition: 0.5s;
  }
  .buttonSendTech:hover {
    background: rgb(255, 255, 255);
    color: #ff990f;
  }
  .overflowHomepage {
    overflow: hidden;
    display: grid;
    place-content: center;
    height: unset;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .Page100Vh {
    height: 100vh;
  }
  .Page100VhConT {
    height: 96vh;
  }
  .marginTopCon {
    margin-top: 10vh;
    margin-left: -5%;
  }
  .phone2 {
    margin-left: 5vw;
  }
  .sliderOurSer::-webkit-scrollbar {
    height: 15px;
  }
  .sliderOurSer::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
  }
  .sliderOurSer::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }
  .sliderWorkRes::-webkit-scrollbar {
    height: 12px;
  }
  .sliderWorkRes::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
  }
  .sliderWorkRes::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }
  .sliderAboutUs::-webkit-scrollbar {
    height: 15px;
  }
  .sliderAboutUs::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
    width: 100px;
  }
  .sliderAboutUs::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }

  .sliderTech::-webkit-scrollbar {
    height: 13px;
  }
  .sliderTech::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
    width: 80px;
  }
  .sliderTech::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }
  .sliderBlog::-webkit-scrollbar {
    height: 13px;
  }
  .sliderBlog::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #ff990f;
    width: 80px;
  }
  .sliderBlog::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: #d0cbcb;
  }
  .ResMarginWork {
    margin-top: 8%;
  }
  .DetailPageSize {
    height: 100%;
  }
  .PosiIconWWUsRes {
    position: relative;
    margin-left: 52%;
    margin-bottom: 19%;
  }
  .WorkWUsHeight {
    display: grid;
    background: #fbfbfb;
    height: 35vw;
    width: 35vw;
  }
  .nameWUsTitle {
    margin-top: 6.5vw;
    font-size: 3vw;
    font-weight: bold;
  }
  .detailWUs {
    font-size: 2.9vw;
    color: #ff9300;
    font-weight: bold;
  }
  .NoWWU {
    background: #ff9300;
    color: #ffffff;
    position: absolute;
    margin-top: -4vw;
    width: 7.5vw;
    height: 8vw;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
  }
  .CenterCol {
    justify-items: center;
  }
  .IconWWUs {
    height: 14vw;
    position: absolute;
  }
  .pageWWUs {
    border-radius: 0.8rem;
    background: #ffffff;
    box-shadow: 1px 5px 7px #aaa8a8;
  }
  .heddinResslide{
    display: flex;
    justify-content: center;
    margin-top: 61%;
  }
}
